.multiback {
	height: 205px;
	background: url(../assets/cake.jpg) no-repeat;
	background-size: auto 200px;

}
.multiback2 {
	height: 205px;
	background: url(../assets/background.jpg) no-repeat;
	background-size: 200px;
}

body {
	color: #111;
}
p {
	padding:0;
	margin:15px;

}